body {
    font-family: Arial, sans-serif;
    background-image: url(https://ibb.co/FqJRJC2N); /* Imagem de fundo */
    background-size: contain;
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evitar repetição */
    display: flex;
    background-color: #000000 ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff; /* Cor das fontes */
}

.login-container {
    background-color: #ffffff; /* Cor de fundo do container */
    padding: 35px;
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 0 15px rgb(255, 255, 255); 
    width: 450px;
    text-align: center;
    opacity: 0.8;
}

.login-container h1 {
    color: #000000; /* Cor do título */
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 9px;
    color: #000000; /* Cor das labels */
    text-align: center;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #1a1a1a; /* Cor de fundo dos inputs */
    color: #ffffff; /* Cor do texto dos inputs */
}

.login-container button {
    width: 80%;
    padding: 10px;
    background-color: #dd1212; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Efeito de transição */
}

.login-container button:hover {
    background-color: #ff1a1a; /* Cor do botão ao passar o mouse */
}

.erro {
    color: #dd1212; /* Cor da mensagem de erro */
    margin-top: 10px;
}